<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1>Posts</h1>
      <ul class="list-group">
        <app-post-list  *ngFor="let currentpost of listepostes" [postOfList]=currentpost></app-post-list>
      </ul>
    </div>
  </div>
</div>

