<li [ngClass] ="{'list-group-item': true,
                'list-group-item-success': getNumberOfLove() > 0,
                 'list-group-item': getNumberOfLove() == 0,
                'list-group-item-danger': getNumberOfLove() < 0}"
                 style="margin: auto">
<span class="pull-right">{{postOfItem.created_at | date: 'M/d/yyyy, h:mm a'}}</span>
<h2 [ngStyle]="{color: getColorPost()}">{{postOfItem.title}}</h2>
<div class="list-group">
    {{postOfItem.content}}
</div>
<button class="btn btn-success" style="margin-right: 10px;" (click)="loveIt()"> Love it !</button>
<button class="btn btn-danger"  style="margin-right: 10px;" (click)="dontLoveIt()"> Don't love it ! </button>
</li>

